#root, .whole-page {
  max-width: 1280px; /* Max width of the container */
  width: 100%; /* Ensures the container takes full available width */
  margin: 0 auto; /* Center the container */
  padding: 2rem;
  padding-left: 12%; /* Extra padding to account for the sideNav */
  text-align: center;
}

.sideNav {
  height: 100%;
  width: 12%;
  position: fixed;
  font-size: 25px;
  font-weight: bolder;
  top: 0;
  left: 0;
  background-color: #f8f419;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.sideNav a {
  color: black;
  text-decoration: none;
}

.card-container {
  padding: 20px;
  margin-left: 12%;
}

.agent-card {
  height: auto;
  width: 350px;
  text-align: center;
  background-color: #d7740b;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #faf9f94d;
  font-size: 16px;
  margin-bottom: 20px; /* Space between rows */
  padding: 20px;
}

@media (max-width: 768px) {
  .agent-card {
    width: 100%; /* Full width on smaller screens */
  }
  .card-container {
    margin-left: 0; /* Adjust when sideNav might behave differently */
  }
}

.agent-card:nth-child(3n) {
  margin-right: 0;
}

.single-agent-icon {
  width: 200px;
  height: 200px;
}

button {
  background-color: rgb(255, 255, 0);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color .25s;
}

.submit {
  margin-right: 10px;
}

ul, li {
  list-style-type: none;
}

.whole-page {
  margin: 20px auto;
  padding: 5px;
}

.mini-form-container {
  margin-bottom: 15px;
}

.mini-form-container label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.agent-gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}